*{
    margin: 0;
    padding: 0;
}
.container{
    background-color: aqua;
    width: 100%;
    height: 300px;
    display: flex;/*se ponen en fila los items
    que contiene
    flex-direction: column; coloca en columna
    por defeto viene en row
    flex-wrap: wrap; por defecto en nowrap,
    wrap tira los items hacia abajo en otra fila
    si se pasa el tamaño de la pantalla
    flex-flow: row wrap; junta flex-direction y flex-wrap*/
    justify-content: space-between;/*centra los elementos
    horizontalmente
    clave para encabezado*/
    /*align-items: center;items al centro vertical
    align-content:space-around  */
}
.container div{
    width: 100px;
    /* height: 100px; */
    background-color:grey;
    margin: 10px;
}
.navbar{
    flex-grow: 1;
}